body {
	font-family: system-ui;
	background-color: var(--color-background);
	color: var(--color-text);
  margin: var(--space-100);
}

a {
  color: inherit;
}

//
// Focused state
//
:focus-visible {
  outline: 3px solid var(--color-focus);
  outline-offset: 3px;
}

//
// .preload will be removed with JavaScript after page has loaded.
// This prevents unwanted CSS transitions firing on page load.
//
.preload {
  transition: none !important;
}

//
// Visually hide elements but keep them accessible
// to assistive technologies, such as screen readers.
//
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
