*, *::before, *::after {
  box-sizing: border-box;
}

body {
	font-family: system-ui;
	background-color: var(--color-background);
	color: var(--color-text);
  margin: 0;
  font-size: var(--font-size);
}

a {
  color: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

main, footer {
  padding: var(--page-margin);
}

//
// Focused state
//
:focus-visible {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}

//
// .preload will be removed with JavaScript after page has loaded.
// This prevents unwanted CSS transitions firing on page load.
//
.preload {
  transition: none !important;
}

//
// Visually hide elements but keep them accessible
// to assistive technologies, such as screen readers.
//
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
