:root {
  --space-50: .5rem;   //  8px
  --space-75: .75rem;  // 12px
  --space-100: 1rem;   // 16px
  --space-150: 1.5rem; // 24px
  --space-200: 2rem;   // 32px
  --space-300: 3rem;   // 48px
  --space-400: 4rem;   // 64px

  --min-tap-target-size: var(--space-300);
  --page-margin: var(--space-150);

  --transition-timing: 0.2s;
  --transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);

  --focus-outline: 2px solid var(--color-focus);
  --focus-outline-offset: 2px;

  --font-size: 16px;
}
