.header {
  --header-color-background: hsl(203, 64%, 94%);
  --header-height: var(--space-300);
  --header-button-width: var(--min-tap-target-size);

  background-color: var(--header-color-background);
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-100);
  position: relative; // .level-two-nav is absolutely positioned relative to this.
}

.logo {
  display: flex;
  height: 100%;

  &__link {
    display: flex;
    gap: var(--space-50);
    align-items: center;
    font-weight: 900;
    text-decoration: none;
  }

  &__icon {
    height: 100%;
    width: auto;
    filter: saturate(0);
  }
}
