@use 'header' as *;

/*
*   .logo
*   .header-icon
*      --globe
*      --search
*   .icon-hamburger
*/

.logo {
  flex-grow: 1;
  display: flex;
  height: 100%;

  @media (min-width: $header-breakpoint-tablet) {
    flex-grow: unset;
  }

  &__link {
    display: flex;
    gap: var(--space-50);
    align-items: center;
    font-weight: 900;
    text-decoration: none;

    &:focus-visible {
      outline-offset: calc(var(--focus-outline-offset) * -1);
    }
  }
}

.header-icon {
  padding: var(--space-75);

  &::after {
    content: '';
    display: block;
    width: var(--space-150);
    height: var(--space-150);
    background-color: var(--color-white);
  }

  &--globe {
    &::after {
      -webkit-mask-image: url("/typo3conf/ext/typo3_vite_demo/Resources/Public/Icons/sprite.svg#globe-view");
      mask-image: url("/typo3conf/ext/typo3_vite_demo/Resources/Public/Icons/sprite.svg#globe-view");
    }

    @media (max-width: $header-breakpoint-tablet) {
      &[aria-expanded='true']::after {
        transform: translate(0, 0); // Safari bugfix to trigger redraw when aria attribute changes
        -webkit-mask-image: url("/typo3conf/ext/typo3_vite_demo/Resources/Public/Icons/sprite.svg#cross-view");
        mask-image: url("/typo3conf/ext/typo3_vite_demo/Resources/Public/Icons/sprite.svg#cross-view");
      }
    }
  }

  &--search {
    &::after {
      -webkit-mask-image: url("/typo3conf/ext/typo3_vite_demo/Resources/Public/Icons/sprite.svg#search-view");
      mask-image: url("/typo3conf/ext/typo3_vite_demo/Resources/Public/Icons/sprite.svg#search-view");
    }

    @media (max-width: $header-breakpoint-tablet) {
      &[aria-expanded='true']::after {
        transform: translate(0, 0); // Safari bugfix to trigger redraw when aria attribute changes
        -webkit-mask-image: url("/typo3conf/ext/typo3_vite_demo/Resources/Public/Icons/sprite.svg#cross-view");
        mask-image: url("/typo3conf/ext/typo3_vite_demo/Resources/Public/Icons/sprite.svg#cross-view");
      }
    }
  }
}

.icon-hamburger {
  pointer-events: none;
  position: relative;
  width: 48px;
  height: 48px;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 3px;
    position: absolute;
    left: 12px;
    background-color: var(--header-color);
    transition: transform 0.2s;
    }

  &::before {
    top: 18px;
  }

  &::after {
    bottom: 18px;
  }

  [aria-expanded="true"] > & {
    &::before {
      top: calc(50% - 3px / 2);
      transform: rotate(-45deg);
    }

    &::after {
      top: calc(50% - 3px / 2);
      transform: rotate(45deg);
    }
  }
}
