@use '../base/breakpoints';

.header {
  --color-background: var(--color-black);
  --color-text: var(--color-white);
  --header-height: var(--space-400);
  --header-button-width: var(--min-tap-target-size);

  background-color: var(--color-background);
  color: var(--color-text);
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-100);
  position: relative; // .level-two-nav is absolutely positioned relative to this.
  padding: 0 var(--page-margin);
  border-block-end: 1px solid var(--color-white);

  a {
    text-decoration: none;
  }

  &__metanav {
    display: flex;
    gap: var(--space-50);
    align-items: center;


    &--mobile {
      display: flex;
      flex-grow: 1;

      @media (min-width: breakpoints.$md) {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @media (min-width: breakpoints.$md) {
        display: flex;
      }
    }
  }
}

.logo {
  flex-grow: 1;
  display: flex;
  height: 100%;

  @media (min-width: breakpoints.$md) {
    flex-grow: unset;
  }

  &__link {
    display: flex;
    gap: var(--space-50);
    align-items: center;
    font-weight: 900;
    text-decoration: none;
  }

  &__icon {
    height: 100%;
    width: auto;
    filter: saturate(0);
  }
}

[aria-current='page'] {
  font-weight: bold;
  text-decoration: none;
}
