@use 'header' as *;

.mobile-language {
  @media (min-width: $header-breakpoint-tablet) {
    display: none;
  }
}

.langnav {
  padding: var(--page-margin);

  @media (min-width: $header-breakpoint-tablet) {
    padding: 0;
  }
}
