@use '../base/breakpoints';



// Main nav
// └ Desktop
/* @media (min-width: (breakpoints.$md + 1px)) {
	.mainnav {
		display: flex;
		gap: 1rem;
		align-items: center;

		&__button {
			display: none;
		}
	}
} */
