@use '../base/breakpoints';

/*
*  .mainnav
*      ├─ item
*      │   ├── toggle-button
*      │   │     └─ icon
*      │   └── clipbox
*      │         └─ sliding-panel
*      └── item
*/

.mainnav {

  &__item {
    &--push-right {
      margin-inline-start: auto;
    }
  }

  // .mainnav
  //    └ Mobile
  @media (max-width: (breakpoints.$md)) {
    margin-block-start: 0;
    padding: var(--page-margin);
    list-style: none;
    display: flex;
    flex-direction: column;
    transition: transform var(--header-transition-duration) var(--header-transition-duration-function);

    &[data-expanded] {
      transform: translateX(-100%);
    }

    &__link,
    &__toggle-button,
    &__close-button {
      padding-block-start: var(--space-100);
      padding-block-end: var(--space-100);
      display: flex;
      width: 100%;
      align-items: center;
    }

    &__link {
      text-decoration: none;
    }

    &__toggle-button {
      transition: visibility var(--header-transition-duration);
      justify-content: space-between;

      .mainnav[data-expanded] {
        visibility: hidden;
      }

      &::after {
        content: "";
        background-color: var(--color-white);
        -webkit-mask: url("/typo3conf/ext/typo3_vite_demo/Resources/Public/Icons/sprite.svg#chevron-right-view");
        mask: url("/typo3conf/ext/typo3_vite_demo/Resources/Public/Icons/sprite.svg#chevron-right-view");
        display: block;
        width: 0.375rem;
        height: 0.625rem;
        transition: transform .25s ease-in-out;
        transform: translateX(0);
      }

      &:hover::after {
        transform: translateX(.375rem);
      }
    }

    &__close-button {
      gap: var(--space-100);

      &::before {
        content: "";
        background-color: var(--color-white);
        -webkit-mask: url("/typo3conf/ext/typo3_vite_demo/Resources/Public/Icons/sprite.svg#chevron-right-view");
        mask: url("/typo3conf/ext/typo3_vite_demo/Resources/Public/Icons/sprite.svg#chevron-right-view");
        display: block;
        width: 0.375rem;
        height: 0.625rem;
        transition: transform .25s ease-in-out;
        transform: translateX(0) rotate(180deg);
      }

      &:hover::before {
        transform: translateX(-.375rem) rotate(180deg);
      }
    }

    &__clipbox {
      position: absolute;
      top: 0;
      left: 100%;
      width: 100%;
      bottom: 0;
      background-color: var(--color-background);
      transition: visibility var(--header-transition-duration);

      [aria-expanded="false"] + & {
        visibility: hidden;
      }
    }

    &__panel-container {
      padding: var(--page-margin);
    }

    &__item {
      &--overview {
        font-size: var(--header-font-size-lg);
      }

      &--desktop-only {
        @media (max-width: (breakpoints.$md)) {
          display: none;
        }
      }
    }
  }

  // .mainnav
  //    └ Desktop
  @media (min-width: (breakpoints.$md + 1px)) {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-50);
    margin: 0;
    padding-inline-start: 0;

    &::after {
      content: "";
      background-color: rgba(0, 0, 0, 0.4);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      position: fixed;
      inset: var(--header-height) 0 0 0;
      pointer-events: none;
      opacity: 0;
      transition: opacity var(--header-transition-duration) ease-in-out;
    }

    &[data-expanded]::after {
      opacity: 1;
    }

    &__item {
      display: grid;
      height: 100%;

      &[data-expanded] {
        z-index: 1;
      }
    }

    &__link {
      text-decoration: none;
      display: grid;
      align-items: center;
      padding-inline-start: var(--space-75);
      padding-inline-end: var(--space-75);
    }

    &__toggle-button {
      &--chevron {
        display: flex;
        align-items: center;
        gap: 0.35em;
        padding-inline-start: var(--space-75);
        padding-inline-end: var(--space-75);

        &::after {
          content: "";
          background-color: var(--color-white);
          -webkit-mask: url("/typo3conf/ext/typo3_vite_demo/Resources/Public/Icons/sprite.svg#chevron-right-view");
          mask: url("/typo3conf/ext/typo3_vite_demo/Resources/Public/Icons/sprite.svg#chevron-right-view");
          display: block;
          width: 0.375rem;
          height: 0.625rem;
          transform: rotate(90deg);
        }

        &[aria-expanded="true"]::after {
          transform: rotate(-90deg);
        }
      }
    }

    &__clipbox {
      overflow: hidden;
      transition: visibility var(--header-transition-duration);
      position: fixed;
      top: var(--header-height);
      inset-inline-start: 0;
      inset-inline-end: 0;

      [aria-expanded="false"] + & {
        visibility: hidden;
      }
    }

    &__sliding-panel {
      transition: transform var(--header-transition-duration) var(--header-transition-duration-function), visibility var(--header-transition-duration);
      background-color: var(--color-background);

      [aria-expanded="false"] + .mainnav__clipbox & {
        transform: translatey(-100%);
        visibility: hidden;
      }
    }

    &__panel-container {
      max-width: var(--header-max-nav-width);
      margin-inline: auto;
      padding: var(--page-margin);
    }

    &__close-button {
      display: none;
    }
  }
}

