.main-nav {
  $breakpoint: 30em;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--space-100);
    padding: var(--space-100);
    margin-block-start: 0;
    margin-block-end: 0;
    background-color: var(--color-background);
    visibility: visible;
    transition: opacity 0.2s linear, transform 0.2s linear, visibility 0.2s linear;
    position: fixed;
    top: calc(var(--header-height) + var(--page-margin));
    right: var(--page-margin);
    z-index: 1;

    @media (max-width: $breakpoint) {
      [aria-expanded="false"] + & {
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100%);
      }
    }

    @media (min-width: $breakpoint) {
      padding: 0;
      flex-direction: row;
      visibility: visible;
      position: static;
    }
  }

  &__button {
    border-width: 0;
    background-color: hsl(350deg 100% 96%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--header-button-width);
    height: var(--header-height);
    position: fixed;
    top: var(--page-margin);
    right: var(--page-margin);
    z-index: 3;

    @media (min-width: $breakpoint) {
      display: none;
    }

    &:focus-visible {
      outline-offset: -3px;
    }
  }
}
