.meta-nav {
  $breakpoint: 50em;

  &--tablet {
    @media (min-width: $breakpoint) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $breakpoint) {
      display: block;
    }
  }
}
