@use '../base/breakpoints';

/*
*  .mobile-menu
*      ├─ item
*      │   ├── toggle-button
*      │   │     └─ icon
*      │   └── clipbox
*      │         └─ sliding-panel
*      └── item
*
*   __icon--globe
*   __icon--search
*
*   .icon-hamburger
*/

.mobile-menu {
  @media (max-width: breakpoints.$md) {
    display: grid;
    grid-auto-flow: column;
    height: 100%;
    gap: var(--space-50);
    margin-inline-end: calc(var(--space-75) * -1); // icon padding

    &__item {
      display: grid;

      .mobile-menu:has([aria-expanded="true"]) &:not(:has([aria-expanded="true"])) { // @todo: Firefox
        display: none;
      }
    }

    &__clipbox {
      position: fixed;
      top: var(--header-height);
      right: 0;
      left: 0;
      bottom: 0;
      transition: visibility var(--transition-timing);
      overflow: hidden;
      display: grid;

      @media (min-width: breakpoints.$sm) {
        width: var(--header-tablet-sidebar-width, 22.5rem);
        left: unset;
      }

      .mobile-menu__toggle-button[aria-expanded="false"] + & {
        visibility: hidden;
      }
    }

    &__sliding-panel {
      background-color: var(--color-background);
      transition: transform var(--transition-timing) var(--transition-timing-function), visibility var(--transition-timing);

      .mobile-menu__toggle-button[aria-expanded="false"] + .mobile-menu__clipbox & {
        transform: translatey(-100%);
        visibility: hidden;
      }
    }

    &__link {
      padding-block-start: var(--space-100);
      padding-block-end: var(--space-100);
      display: flex;
    }

    &__toggle-button {
      &:focus-visible {
        outline-offset: calc(var(--header-focus-outline-offset) * -1);
      }
    }


  }
}


.icon-hamburger {
  pointer-events: none;
  position: relative;
  width: 48px;
  height: 48px;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 3px;
    position: absolute;
    left: 12px;
    background-color: var(--color-text);
    transition: transform 0.2s;
    }

  &::before {
    top: 18px;
  }

  &::after {
    bottom: 18px;
  }

  [aria-expanded="true"] > & {
    &::before {
      top: calc(50% - 3px / 2);
      transform: rotate(-45deg);
    }

    &::after {
      top: calc(50% - 3px / 2);
      transform: rotate(45deg);
    }
  }
}
