@use '../base/breakpoints';

// Hide mobile search on desktop
.mobile-search {
  @media (min-width: (breakpoints.$md + 1px)) {
    display: none;
  }
}

// Search
.search {
  &__form {
    max-width: 600px;
    margin-inline: auto;
    padding: var(--page-margin);
    display: flex;
    gap: var(--space-150);
    flex-direction: column;
    align-items: stretch;

    @media (min-width: breakpoints.$md) {
      padding: 0;
      flex-direction: row;
      align-items: center;
    }
  }

  &__label {
    display: grid;
    flex-grow: 1;
  }

  &__input {
    all: unset;
    border: 2px solid var(--color-text);
    padding: var(--space-50);
    display: block;

    &:focus-visible {
      outline: var(--focus-outline-width) solid var(--color-focus);
      outline-offset: var(--focus-outline-offset);
    }
  }
}
