@use '../base/breakpoints';

// Search
.search {
  padding: var(--page-margin);
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: var(--header-max-content-width);
  display: flex;
  flex-direction: column;
  gap: var(--space-200);

  &__form {
    display: flex;
    flex-direction: row;
  }

  &__label {
    flex-grow: 1;
    display: flex;
    gap: var(--space-50);

    &:focus-within {
      outline: var(--header-focus-outline);
      outline-offset: var(--header-focus-outline-offset);
    }

    &::before {
      content: '';
      display: block;
      width: var(--space-200);
      height: var(--space-200);
      background-color: var(--color-white);
      -webkit-mask-image: url("/typo3conf/ext/typo3_vite_demo/Resources/Public/Icons/sprite.svg#search-view");
      mask-image: url("/typo3conf/ext/typo3_vite_demo/Resources/Public/Icons/sprite.svg#search-view");
    }
  }

  &__input {
    all: unset;
    display: grid;
    font-size: var(--header-font-size-md);

    @media (min-width: breakpoints.$md) {
      font-size: var(--header-font-size-lg);
    }

    &::placeholder {
      opacity: 0.5;
    }
  }
}

.quicklinks {
  &__header {
    opacity: 0.5;
    margin-block-start: var(--space-75);
    margin-block-end: var(--space-75);
  }

  &__list {
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  &__link {
    text-decoration: none;
    padding-block-start: var(--space-75);
    padding-block-end: var(--space-75);
    display: block;

    &:focus-visible {
      outline-offset: var(--header-focus-outline-offset);
    }
  }
}
