@use '../base/breakpoints';

// Sub Nav
// └ Mobile
@media (max-width: breakpoints.$md) {
	.subnav {
		margin-block: 0;
		background-color: var(--color-background);
		padding: 0.5rem;
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 1rem;

		&:has([aria-expanded="true"]) {
			transform: translateX(-100%);
		}

		&__button {
      transition: visibility var(--animation-timing);

			.subnav:has([aria-expanded="true"]) &:not(.subnav__close) {
				visibility: hidden;
			}
		}

		&__panel {
			position: absolute;
			top: 0;
			left: 100%;
			width: 100%;
			bottom: 0;
			background-color: var(--color-background);
			transition: visibility var(--animation-timing);

			[aria-expanded="false"] + & {
				visibility: hidden;
			}
		}

		&__list {
			list-style: none;
			padding: 0.5rem;
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}

    &__item {
      &--overview {
        text-transform: uppercase;
      }
		}
	}
}

// Sub Nav
// └ Desktop
@media (min-width: (breakpoints.$md + 1px)) {
	.subnav {
		list-style: none;
		display: flex;
		gap: 0.5rem;
		padding-inline-start: 0;
		margin-block: 0;

		&__panel {
			overflow: hidden;
			transition: visibility var(--animation-timing);
			position: fixed;
			top: var(--header-height);
      left: 0;
      right: 0;

			[aria-expanded="false"] + & {
				visibility: hidden;
			}
		}

		&__list {
			transition: transform var(--animation-timing), visibility var(--animation-timing);
			background-color: var(--color-background);
			padding: 0.5rem;

			[aria-expanded="false"] + .subnav__panel & {
				transform: translatey(-100%);
				visibility: hidden;
			}
		}

		&__item {
			&--close {
				display: none;
			}

      &--overview {
        text-transform: uppercase;
      }
		}
	}
}
