@use '../base/breakpoints';

// Sub Nav
// └ Mobile
@media (max-width: breakpoints.$md) {
	.subnav {
		margin-block: 0;
		background-color: var(--color-background);
		padding: var(--page-margin);
		list-style: none;
		display: flex;
		flex-direction: column;

		&:has([aria-expanded="true"]) {
			transform: translateX(-100%);
		}

    &__link, &__button, &__close {
      padding-block-start: var(--space-100);
      padding-block-end: var(--space-100);
      display: flex;
      width: 100%;
      align-items: center;
    }

		&__button {
      transition: visibility var(--transition-timing);
			justify-content: space-between;

			.subnav:has([aria-expanded="true"]) &:not(.subnav__close) {
				visibility: hidden;
			}

      &::after {
        content: "";
        background-color: var(--color-white);
        -webkit-mask: url("/typo3conf/ext/typo3_vite_demo/Resources/Public/Icons/sprite.svg#chevron-right-view");
        mask: url("/typo3conf/ext/typo3_vite_demo/Resources/Public/Icons/sprite.svg#chevron-right-view");
				display: block;
        width: 0.375rem;
        height: 0.625rem;
        transition: transform .25s ease-in-out;
				transform: translateX(0);
      }

      &:hover::after {
        transform: translateX(.375rem);
      }
		}

		&__close {
      gap: var(--space-100);

			&::before {
        content: "";
        background-color: var(--color-white);
        -webkit-mask: url("/typo3conf/ext/typo3_vite_demo/Resources/Public/Icons/sprite.svg#chevron-right-view");
        mask: url("/typo3conf/ext/typo3_vite_demo/Resources/Public/Icons/sprite.svg#chevron-right-view");
				display: block;
        width: 0.375rem;
        height: 0.625rem;
        transition: transform .25s ease-in-out;
				transform: translateX(0) rotate(180deg);
      }

      &:hover::before {
        transform: translateX(-.375rem) rotate(180deg);
      }
		}

		&__panel {
			position: absolute;
			top: 0;
			left: 100%;
			width: 100%;
			bottom: 0;
			background-color: var(--color-background);
			transition: visibility var(--transition-timing);

			[aria-expanded="false"] + & {
				visibility: hidden;
			}
		}

		&__list {
			list-style: none;
			padding: var(--page-margin);
			display: flex;
			flex-direction: column;
		}

    &__item {
      &--overview {
        text-transform: uppercase;
      }
		}
	}
}

// Sub Nav
// └ Desktop
@media (min-width: (breakpoints.$md + 1px)) {
	.subnav {
		list-style: none;
		display: flex;
		gap: var(--space-400);
		padding-inline-start: 0;
		margin-block: 0;

		&__panel {
			overflow: hidden;
			transition: visibility var(--transition-timing);
			position: fixed;
			top: var(--header-height);
      left: 0;
      right: 0;

			[aria-expanded="false"] + & {
				visibility: hidden;
			}
		}

		&__list {
			transition: transform var(--transition-timing)  var(--transition-timing-function), visibility var(--transition-timing);
			background-color: var(--color-background);
			padding: 0.5rem;

			[aria-expanded="false"] + .subnav__panel & {
				transform: translatey(-100%);
				visibility: hidden;
			}
		}

		&__item {
			&--close {
				display: none;
			}

      &--overview {
        text-transform: uppercase;
      }
		}

    &__button {
      display: flex;
      align-items: center;
      gap: 0.35em;

      &::after {
        content: "";
        background-color: var(--color-white);
        -webkit-mask: url("/typo3conf/ext/typo3_vite_demo/Resources/Public/Icons/sprite.svg#chevron-right-view");
        mask: url("/typo3conf/ext/typo3_vite_demo/Resources/Public/Icons/sprite.svg#chevron-right-view");
				display: block;
        width: 0.375rem;
        height: 0.625rem;
				transform: rotate(90deg);
      }

      &[aria-expanded="true"]::after {
        transform: rotate(-90deg);
      }
    }
	}
}
