@use 'base/colors';
@use 'base/spacing';
@use 'base/reset';
@use 'components/header';

/* Base */
body {
	font-family: system-ui;
	background-color: var(--color-background);
	color: var(--color-text);
}
